.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
  margin-bottom: 16px
}

.waveButton {
  cursor: pointer;
  margin-top: 2px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: #FFDAB9;
}

.connectWallet {
  cursor: pointer;
  margin-top: 2px;
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background: lightgrey;
}

.messages {
  border-radius: 10px;
  margin-top: 16px;
  background: lightgrey;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
}

.messages-winner {
  border-radius: 10px;
  margin-top: 16px;
  background: #90ee90;
  padding: 8px;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
}

.bold {
font-weight:bold;}

.inputs {
  margin-top: 16px;
  border-radius: 5px;
  border-style: solid;
  padding: 8px;
  border-width: 1px;
  font-size: 12px;
}